In [1]:
import pandas as pd


df = pd.read_csv('music.csv')
df

    Age  gender      music
0    21       1    Hip Hop
1    23       1    Hip Hop
2    24       1    Hip Hop
3    26       1    Hip Hop
4    30       1       Jazz
5    33       1       Jazz
6    34       1       Jazz
7    38       1       Jazz
8    40       1  Classical
9    44       1  Classical
10   46       1  Classical
11   50       1      Dance
12   55       1      Dance
13   18       0       Rock
14   22       0       Rock
15   26       0       Rock
16   31       0      Dance
17   33       0      Dance
18   41       0       Jazz
19   43       0       Jazz
20   45       0       Jazz
21   50       0  Classical
22   54       0  Classical